.navbarContent {
    padding: 0 !important;
}

.widthBatchUpdate {
    width: 320px !important;
    border-left: 1px solid #d9d9d9;
    // position: fixed;
    // right: 0;
    // z-index: 9999;
    // background-color: #ffffff;
}

.widthUnBatchUpdate {
    width: 0px !important;
}

.issue__list {
    overflow: scroll;
    height: 55vh; 
}