.title-reset {
  margin-left: 30%;
  font-size: 25px;
  margin-bottom: 20px;
}

.header__Img {
  position: relative;
}
.header__Img button {
  position: absolute;
  top: 0;
  right: 10px;
}

.errorMsg {
  color: red;
  margin: 0;
}

.hiddenMsg {
  visibility: hidden;
  margin: 0;
}
.reset-form-button {
  width: 100%;
}
