.btnLoading1{
    width: 7.5% !important;
    height: 19.600px;
}
.btnLoading2{
    width: 12%  !important;
    height: 19.600px;
}
.btnUpdateProject{
    width: 7.5% !important;
}
.btnSync{
    width: 12%  !important;
}