* {
  margin: 0;
  padding: 0;
  border-box: box-sizing;
}
body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
.body-Verify {
  position: absolute;
  width: 100%;
  display: flex;
}
.title-verifyMail {
  margin-top: 30px;
  text-align: center;
}
.container {
  position: relative;
}

.characters {
  height: 50px;
}

.character {
  line-height: 50px;
  font-size: 36px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  margin-left: 8px;
  color: #696969;
  text-align: center;
  border: 1px solid green;
  cursor: default;
  user-select: none;
  box-sizing: border-box;
}

.character--inactive {
  background-color: lightgray;
  color: #69696959 !important;
  box-shadow: none;
}

.character--inactive:first-child {
  background-color: lightgray;
  color: #69696959 !important;
}

.character--selected {
  border: 1px solid blue;
  background-color: white !important;
}

.vi__wrapper {
  margin-right: auto !important;
  margin-left: auto !important;
  display: block !important;
}
